include LICENSE README.md pyproject.toml requirements.txt
recursive-include proto_socket_django *.py *.proto *.txt *.rst *.md
recursive-include proto_socket_django/gen/common *.proto
recursive-include proto_socket_django/gen/platforms *.py *.proto
global-exclude *.pyc
global-exclude __pycache__/*